.clearfix:after{
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.text-hide{
	font:0;
	color: transparent;
	text-shadow:none;
	background-color: transparent;
	border: 0;
}
.none{
	display: none;
}
.hidden{
	visibility: hidden;
}